/* screen.css: Screen Styles */

body { font-family: "Gill Sans", "Trebuchet MS", Arial, san-serif; }

/* Bold on headings, b, and strong */
h1,h2,h3,h4,strong,em { 
  font-weight: bold; 
  font-size: 100%;
  color: #000;
}

h1 { 
  margin: 0px; 
  padding-top: 1em; 
  text-align: left;    
  font-size: 2.5em; 
} 
        
a { 
  color: #000; 
}

em { 
  font-style: normal;
} 

#header {
  height: 175px;
  width: 100%;  
  background: #CCC; 
}

#header h1 { 
  padding-top: 20px; 
  padding-bottom: 4px; 
  text-align: center; 
} 

#header p { 
  line-height: 1em; 
} 

#header div { 
  float: left; 
  margin-left: 10px; 
} 

#contactinfo { 
  padding-top: 10px; 
} 

#aw2logo img { 
  height: 175px; 
  width: auto;  
} 

#masthead { 
  width: 45%; 
  text-align: center;
} 

#masthead h1 { 
  font-size: 2em; 
} 

#masthead div.site-nav { 
  display: none; 
  float: none;
} 

#masthead div.site-nav ul {
  margin: 0; 
  padding: 0; 
} 

#masthead div.site-nav li { 
  display: inline-block; 
  padding: 5px; 
} 

#contactinfo {
  width: 20%;  
  float: right; 
  text-align: right; 
} 

#contents em { 
  float: left; 
  padding: 8px 14px 8px 8px; 
  margin: 0px; 
  min-width: 150px; 
  min-height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25em;
  text-align: right; 
  text-transform: lowercase; 
} 

#contents em.printAdjust { 
  min-height: 80px; 
} 

#contents p { 
  padding: 8px; 
  margin-left: 10px; 
  min-height: 50px; 
} 

#contents div.printAdjust { 
  padding-top: 50px; 
} 

#experience p.date { 
  padding-top: 10px; 
  border-bottom: 1px solid black; 
  font-size: 1.25em; 
} 

#education h1 { 
  padding-bottom: 18px; 
}   

#footer { 
  background: #CCC; 
  font-weight: bold; 
} 
